<fieldset [formGroupName]="groupName">
  <div class="my-2">
    <label for="department_id" class="form-label">Materias</label>
    <select
      name="department_id"
      id="department_id"
      formControlName="department_id"
    >
      <option *ngFor="let department of departments" [value]="department.id">
        {{ department.department_name }}
      </option>
    </select>
  </div>
  <div class="my-2">
    <label for="subject" class="form-label">Asignatura</label>
    <input
      class="form-control"
      type="text"
      id="subject"
      placeholder="Ingresa el nombre de la asignatura"
      formControlName="subject"
    />
  </div>
</fieldset>
