<form [formGroup]="teacherForm" (ngSubmit)="onSubmit()">
  <label for="class_mode" class="form-label">Modo de clase</label>
  <input
    class="form-control"
    type="text"
    id="class_mode"
    placeholder=""
    formControlName="class_mode"
  />
  <p class="error" *ngIf="checkControl('class_mode', 'required')">
    Campo es requerido
  </p>
  <p class="error" *ngIf="checkControl('class_mode', 'minlength')">
    La longitud minima es de 3 caracteres
  </p>
  <label for="experience" class="form-label">Experiencia</label>
  <input
    class="form-control"
    type="text"
    id="experience"
    placeholder="Escribe tu experiencia"
    formControlName="experience"
  />
  <p class="error" *ngIf="checkControl('experience', 'required')">
    Campo es requerido
  </p>
  <p class="error" *ngIf="checkControl('experience', 'maxlength')">
    La longitud maxima es de 500 caracteres
  </p>
  <label for="price_hour" class="form-label">Precio</label>
  <input
    class="form-control"
    type="text"
    id="price_hour"
    placeholder="10.50"
    formControlName="price_hour"
  />
  <p class="error" *ngIf="checkControl('price_hour', 'required')">
    Campo es requerido
  </p>
  <p class="error" *ngIf="checkControl('price_hour', 'maxlength')">
    La longitud maxima es de 500 caracteres
  </p>
  <label for="about_me" class="form-label">Sobre mi</label>
  <input
    class="form-control"
    type="text"
    id="about_me"
    placeholder=""
    formControlName="about_me"
  />
  <p class="error" *ngIf="checkControl('about_me', 'required')">
    Campo es requerido
  </p>
  <p class="error" *ngIf="checkControl('about_me', 'maxlength')">
    La longitud maxima es de 1000 caracteres
  </p>
  <app-form-register-subjects></app-form-register-subjects>
</form>
