<section class="d-flex col-md-8 mx-auto mt-3 card shadow p-3">
    <section class="row align-items-center">
        <div class="col-12 col-md-6 p-4 text-center">
            <figure class="">
                <img class="img-fluid w-75" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7OWu1ffOK4I_9n-sGbVx-kj9bhktOfO5IMA&usqp=CAU" alt="Imagen en construcción">
            </figure>
        </div>
        <div class="col-12 col-md-6 p-4 align-middle">
            <h3 class="text-uppercase text-center">Esta funcionalidad saldrá en la próxima release</h3>
            <p class="text-center">Puede adelantarse y probar la versión beta de esta configuración, para ello necesitará tener a mano su tarjeta de crédito.</p>
            <div class="text-center">
                <button class="btn btn-warning" (click)="retornar()">Home</button>
            </div>
        </div>
    </section>
</section>