.bg-color_basic {
    /* Establece el degradado lineal como fondo de la página */
    background: linear-gradient(180deg, #27187e, #6477d6);
    /* Ajusta otros estilos del cuerpo de la página según sea necesario */
    margin: 0;
    padding: 0;
    /* Establece otros estilos, como color de texto, etc. */
    color: #fff;
}

.bg-color_teacher {
    background-color: #f1f2f6;
}