.backgr{
    background-color: rgb(7, 113, 235);
}
.backgr2{
    background-color: white;
}
.black{
    color: black;
}
label{
    color: black;
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #be30d1;
    border-color: #be30d1;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.bg-color_table {
    background-color: rgba(255, 175, 86, 0.3);
}
.menu{
    background-color: rgb(156, 60, 240);
}
.btnMenu{
    background-color: rgb(238, 219, 155);
}
.btnMenu:hover{
    color: rgb(155, 5, 130);
}
.imagen{
    max-width: 30vh;
}