<div class="row custom-row" *ngIf="myposition">

    <section class="col-md-7" id="teachers-map">
      <google-map *ngIf="teachers && teachers.length" height="30rem" width="auto" [center]="center" [zoom]="zoom">
        <map-marker
          [position]="myposition"
          [options]="markerOptionsUser"
          >
        </map-marker>
        <ng-container *ngFor="let teacher of teachers">
          <map-marker
            #miMarker="mapMarker"
            [position]="{ lat: teacher.latitude, lng: teacher.longitude }"
            [options]="markerOptionsTeachers"
            (mapClick)="openInfoWindow(teacher)"
            >
          </map-marker>
        </ng-container>
      </google-map>
    </section>
    
    <section class="col-md-5" id="teachers-nearby">
      <h3>Profesores cerca</h3>
        <div class="overflow-auto scrollable-container" *ngIf="!selectedTeacher">
          <div *ngFor="let teacher of teachers" (click)="selectTeacher(teacher)">
            <div class="row">
              <div class="col-md-2">
                <img src="{{teacher.photo}}" alt="..." class="img-fluid rounded">
              </div>
              <div class="col-md-10 ">
                <div class="row">
                  <p class="col-md-4">{{teacher.name}}</p>
                  <p class="col-md-4">{{teacher.subject}}</p>
                  <p class="col-md-4">{{teacher.price_hour}}€/h</p>
                </div>
                <p class="col-md-12">A {{teacher.distance.toFixed(1)}} km de tí</p>
              </div>
            </div>
            <hr class="border border-1 opacity-75">
          </div>
        </div>
        <div class="card" style="width: 18rem" *ngIf="selectedTeacher">
          <img src="{{ selectedTeacher.photo }}" class="card-img-top rounded mx-auto d-block mt-3" alt="teacher's profile photo" style="height: 10rem; width: 10rem;">
          <div class="card-body text-center">
            <h5 class="card-title">{{ selectedTeacher.name }}</h5>
            <div>
              <img class="img-fluid"
              src="https://t3.ftcdn.net/jpg/01/09/84/42/240_F_109844239_A7MdQSDf4y1H80cfvHZuSa0zKBkZ68S7.jpg" alt="RatingStar"
              style="max-width: 55px" />
              <p>{{selectedTeacher.rating}}</p>
            </div>
            <p class="card-text">{{ selectedTeacher.experience }} años de experiencia</p>
            <p class="card-text">{{ selectedTeacher.price_hour }}€/Hora</p>
            <a class="btn btn-primary mx-1 mt-1" (click)="eraseMarkedTeacher()">Volver</a>
            <a class="btn btn-primary mx-1 mt-1" (click)="navigateToTeacherProfile(selectedTeacher.id)">Ver perfil</a>
          </div>
        </div>
    </section>
</div>

<div class="row custom-row" *ngIf="!myposition">
  <div class="col-md-12 d-flex justify-content-center align-items-center">
    <div class="spinner-border text-light" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<!-- TODO -->
<!-- Un spinner para teacher y admin view -->
<!-- <div class="spinner-border text-dark" role="status">
  <span class="visually-hidden">Loading...</span>
</div> -->