.custom-row {
    min-height: 30rem;
  }

#teachers-nearby .scrollable-container {
  max-height: 27.4rem; 
  overflow-y: scroll;
}

.pointer:hover {
  cursor: pointer;
}

.student-background {
  background-color: #F1F2F6;
}

.student-font {
  color: #27187E; 
}