<div class="w-50">
  <section class="container mt-3" [ngClass]="authService.getUserRoleForStyles() + '-main-font-color'">
    <form [formGroup]="mainForm" (ngSubmit)="onSubmit()">
      <div class="my-2">
        <select name="role_id" id="role_id" formControlName="role_id">
          <option value="1">Estudiante</option>
          <option value="2">Profesor</option>
        </select>
      </div>

      <app-form-register-user groupName="userForm"></app-form-register-user>

      <!--
      <div class="my-2">
        <p class="error" *ngIf="checkControl('name', 'required')">
          Campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('name', 'minlength')">
          La longitud minima es de 3 caracteres
        </p>
        <p class="error" *ngIf="checkControl('nickname', 'required')">
          Campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('nickname', 'minlength')">
          La longitud minima es de 3 caracteres
        </p>
        <p class="error" *ngIf="checkControl('email', 'required')">
          Campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('email', 'email')">
          Email incorrecto
        </p>
        <p class="error" *ngIf="checkControl('phone', 'required')">
          Campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('phone', 'minlength')">
          La longitud minima es de 3 caracteres
        </p>
        <p class="error" *ngIf="checkControl('password', 'required')">
          Campo es requerido
        </p>
        <p class="error" *ngIf="checkControl('photo', 'required')">
          Campo es requerido
        </p>
      </div>-->

      <app-form-register-location
        groupName="locationForm"
      ></app-form-register-location>

      <div *ngIf="this.mainForm.value.role_id === '2'">
        <app-form-register-teacher
          groupName="teacherForm"
        ></app-form-register-teacher>
        <app-form-register-subjects
          groupName="subjectForm"
        ></app-form-register-subjects>
      </div>

      <!--[disabled]="!mainForm.valid"-->
      <input
        type="submit"
        value="Enviar"
        class="btn btn-danger mt-3"
        [disabled]="!mainForm.valid"
      />
    </form>
  </section>
</div>
