input.ng-invalid.ng-touched {
    border-bottom: 3px solid tomato;

}

input.ng-valid.ng-touched {
    border-bottom: 3px solid lightgreen
}

.error {
    color: tomato;
    font-size: 12px;
}

.form{
    visibility: hidden;
}
.form.visible{
    visibility:visible;
}
.background{
    color: 27187E;
}