<fieldset [formGroupName]="groupName">
  <div class="my-2">
    <label for="name" class="form-label">Nombre</label>
    <input
      class="form-control"
      type="text"
      id="name"
      placeholder="ingresa tu nombre y apellido"
      formControlName="name"
      required
    />
    <p class="error" *ngIf="checkControl('name', 'required')">
      Campo requerido
    </p>
    <p class="error" *ngIf="checkControl('name', 'minlength')">
      La longitud mínima es de 3 caracteres
    </p>
  </div>
  <div class="my-2">
    <label for="nickname" class="form-label">Nombre de usario</label>
    <input
      class="form-control"
      type="text"
      id="nickname"
      placeholder="ingresa tu nombre de usario"
      formControlName="nickname"
      required
    />
    <p class="error" *ngIf="checkControl('nickname', 'required')">
      Campo requerido
    </p>
    <p class="error" *ngIf="checkControl('nickname', 'minlength')">
      La longitud mínima es de 3 caracteres
    </p>
  </div>
  <div class="my-2">
    <label for="email" class="form-label">Correo electrònico</label>
    <input
      class="form-control"
      type="text"
      id="email"
      placeholder="ingresa tu email"
      formControlName="email"
      required
    />
    <p class="error" *ngIf="checkControl('email', 'required')">
      Campo requerido
    </p>
    <p class="error" *ngIf="checkControl('email', 'email')">
      El email introducido no es correcto
    </p>
  </div>
  <div class="my-2">
    <label for="phone" class="form-label">Teléfono</label>
    <input
      class="form-control"
      type="text"
      id="phone"
      placeholder="ingresa tu numero de teléfono"
      formControlName="phone"
      required
    />
    <p class="error" *ngIf="checkControl('phone', 'required')">
      Campo requerido
    </p>
  </div>
  <div class="my-2">
    <label for="date_of_birth" class="form-label">Fecha de nacimiento</label>
    <input
      class="form-control"
      type="date"
      id="date_of_birth"
      placeholder="ingresa tu fecha de nacimiento"
      formControlName="date_of_birth"
      required
    />
    <p class="error" *ngIf="checkControl('date_of_birth', 'required')">
      Campo requerido
    </p>
  </div>
  <div class="my-2">
    <label for="password" class="form-label">Contraseña</label>
    <input
      class="form-control"
      type="password"
      id="password"
      formControlName="password"
      required
    />
    <p class="error" *ngIf="checkControl('password', 'required')">
      Campo requerido
    </p>
  </div>
  <div class="my-2">
    <label for="photo" class="form-label">Imágen de perfil</label>
    <input
      class="form-control"
      type="text"
      id="photo"
      placeholder="ingresa tu url"
      formControlName="photo"
      required
    />
    <p class="error" *ngIf="checkControl('photo', 'required')">
      Campo requerido
    </p>
  </div>
</fieldset>
